@import "tailwindcss";

@layer components {
  .btn-product {
     @apply mt-auto bg-green-800 text-white px-4 py-2 rounded hover:bg-green-700 transition;
  }

  .btn-nav {
     @apply bg-black px-4 py-2 font-medium text-white ml-4 lg:px-4;
  }
}
